.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem
}
/*
.portfolio__item{
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 1.2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}*/

.portfolio__item{
    background: var(--color-bg-variant);
    border-radius: 1.2rem;
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
/*
.portfolio__item-image{
    height: 300px;
}*/

.portfolio-ul{
    margin-top: -50px;
}

.portfolio-img{
    height: 200px;
}

.portfolio-li-name{
   font-size: x-large;
}

.portfolio-li-tools{
    color:yellowgreen;
}

.portfolio__item-cta{
    display:flex;
    gap: 2rem;
    margin-bottom: 1rem;
}



/* ==================== media qureis (media device) ==============*/
@media screen and (max-width: 1024px){
   .portfolio__container{
    grid-template-columns: 1fr 1fr;
    gap:1.2rem;
   }
 }
 
 
 
 
 /* ================= media qureis (small device) ================*/
 @media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
 }